<div class="listing-row" data-id="<%= listing.id %>">
	<%= link_to listing.role, listing %>
	<% if listing.company_website %>
	  <%= link_to "(#{listing.company})", listing.company_website, class: "companyWebsiteLink", id: "#{listing.id}-websiteLink" %>
	<% else %>
	  <%= "(#{listing.company})" %>
	<% end %>
	<br>
	<%= "#{listing.location} - #{listing.create_date_month_day}"  %>
	<br>
	<%= button_tag "+ Description", id: "#{listing.id}-description-button", class: "show-description btn btn-primary", data_loading_text: "Loading..."%>
	</br>
</div>