<div class="listing-row" data-id="<%= listing.id %>">
	<%= link_to listing.role, listing %>
	<%= "(#{listing.company})" %>
	<br>
	<%= "#{listing.location} - #{listing.create_date_month_day}"  %>
	<br>
	<%= button_tag "+ Description", class: "show-description" %>
	</br>
</div>