<div class="listing-row" data-id="<%= listing.id %>">
	<%= link_to listing.role, listing %>
	<%= "(#{listing.company})" %>
	<br>
	<%= "#{listing.location} - #{listing.create_date_month_day}"  %>
	<br>
	<%= button_tag "+ Description", id: "#{listing.id}-description-button", class: "show-description btn btn-primary", data_loading_text: "Loading..."%>
	</br>
</div>